.DS_Store
*.xcuserstate
/Roadmate.xcodeproj/xcuserdata
/Roadmate.xcodeproj/xcuserdata/lakshya7900.xcuserdatad
/Roadmate.xcodeproj/xcuserdata
Backend/.env
Backend/.vscode/launch.json
Backend/__debug_bin2615515111
*.pbxproj
